body {
    background-color:white;
    color:#6A737A;
    font-family: 'Roboto', sans-serif;
}
h1{
	color:#6A737A;
}
h2{
    text-align:center;
    background-color:#D1ADF0;
    padding:0.5%;
    color:white;
}
h3{
    padding-left:3%;
}
h4{
    padding-left:3%;
    color:#6A737A;
}
h5{
    text-align:center;
    background-color:#C5DCF0;
    padding:0.5%;
    color:white;
}
p{
	text-indent:3em;
    padding-left:3%;
    padding-right:3%;
}
ol{
    list-style-position:inside;
}
ol li{
    ;
}
table{
    border:none;
}
tfoot{
    background-color:#D1ADF0;
    color:white;
}
hr{
    border-top:1.5px solid #285C49;   
    border-bottom:1.5px solid #285C49;
}
a{
	color:#29488F;
}
a:hover{
    background-color:#60DBAD;
}
.sidebar{
	vertical-align:top;
}
#sidebar{
    background-color:#C5DCF0;
    border-radius:25px;
    font-weight:300;
    padding-bottom:5%;
    padding-top:3%;
    padding-right:3%;
    padding-left:3%;
    text-align:justify;
    text-justify:inter-word;
}
#link-hide{
	text-decoration:none;
	color:#6A737A;
}

#title {
  display: block;
  padding:3%;
  width:94%;
}
.subtitle {
    text-align: center;
    font-weight:bold;
}
.entries{
    text-align:left;
    vertical-align:top;
    margin:15%;
}
.quote{
    color:#6A737A;
    font-style:italic;
    font-weight:600;
    padding-left:3%;
    padding-right:3%;
}
.entry{
    min-height:25vh;
}
.entry:hover {
    background-color:#F0E6B9;
}
.images{
    padding-right:20px;
    padding-bottom:20px;
    width:25%;
    min-height:25%;
    float:left;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}
.miles{
    display:block;
    font-weight:bold;
    text-align:right;
    padding-right:3%;
}